body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #6b1bac;
    color: white;
    text-align: center;
    padding: 2em 0;
}

header h1 {
    margin: 0;
}

nav {
    background-color: #333;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 1em 0;
    display: block;
}

nav ul li a:hover {
    background-color: #575757;
}

main {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 2em;
}

h2 {
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

li h3 {
    margin: 0;
}

#contactForm {
    display: flex;
    flex-direction: column;
}

#contactForm label {
    margin-top: 1em;
}

#contactForm input, #contactForm textarea {
    padding: 0.5em;
    margin-top: 0.5em;
}


#contactForm button {
    margin-top: 1em;
    padding: 0.5em;
    background-color: #6c09a5;
    color: white;
    border: none;
    cursor: pointer;
}

#contactForm button:hover {
    background-color: #8d16bd;
}

footer {
    text-align: center;
    padding: 0.255em 0;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}